/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #98FF98;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: green;
    width: 95%;
    height: 40px;
}
.logo{
    font-size: 2.5rem;
}
.nav-sub ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 20px;
}
.nav-sub ul li{
    align-self: center;
    padding: 8px 10px;
}
.nav-sub a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    padding: 10px;
}

.nav-sub ul li a:hover{
    background-color: grey;
    
    color: white;
}

/*  */

.nav-small ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between; 
    align-items: center;
    width: 90%;   
    list-style-type: none;
    padding: 10px;
    margin: 10px auto auto auto;
    text-align: center;
    gap: 2%;
    background-color: lightblue;
}

.nav-small a{
    text-decoration: none;
    color: black;
}
.nav-small ul li{
    padding: 10px 0px;
}
.nav-small ul li:hover{
    background-color: green;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .nav-sub{
        display: none;
    }
    .nav-small{
        display: none;
    }
    
}
@media (min-width: 768px) {
    .nav-small{
        display: none;
    }
    .nav i{
        display: none;
    }

}

/* ------------------------------------------------- */

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding:0px 15px;
    margin-bottom: 40px;
}
#home .section__pic-container, #home .section__text{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .section__text .section__text__p1{
    color: #555555;
    font-size: 30px;
    font-weight: bolder;
}
#home .section__text .title{
    color: #A52A2A;
    font-size: 30px;
    font-weight: bolder;
}
#home .section__text .section__text__p2{
    color: #585C58;
    font-weight: bold;
}

#home .section__pic-container img{
    width: 50%;
    margin:auto;
}

#home .section__text{
    text-align: center;
}
#home .section__text p{
    margin: 5px;
}
.btn-container{
    margin: 15px;
    display: flex;
    gap: 20px;
}
.btn-container button{
    padding: 10px 15px;
    border-radius: 30px;
    border: 0px;
    background-color: grey;
    
}
.btn-container button:hover{
    background-color: green;
    color: white;
}
#socials-container img{
    width: 40px;
    padding: 8px;
}
@media (max-width: 768px) {
    #home {
        flex-direction: column;
    }

    #home .section__pic-container, 
    #home .section__text{
        width: 95%;
        text-align: center;
    }

    .section__pic-container {
        margin-bottom: 20px;
    }
}

/* ----------------------------- */

#about{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}
#about p,#about h1{
    text-align: center;
}
.section-container{
    display: grid;
    grid-template-columns: 1fr;
}

.section-container .section__pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__pic-container img{
    width: 60%;
    border-radius: 20px;
}


@media (min-width: 768px) {
    .section-container {
        grid-template-columns: 1fr 1fr;
    }
}

.about-containers{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.about-containers .details-container{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    background-color: #EEE8AA;
}
.about-containers .details-container img{
    width: 20%;
    margin: 0% 40%;
}
.about-containers .details-container h3, .about-containers .details-container p{
    text-align: center;
    margin-top: 5px;
}
.text-container p{
    line-height: 20px;
} 

@media (min-width: 768px) {
    .section-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* ------------------------ */
#classes{
    margin-top: 10px;
    margin-bottom: 40px;
}
#classes p,#classes h1{
    text-align: center;
}

#classes .about-containers{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#classes .details-container{
    width: 80%;
    margin: auto;
}
/* .details-container{
    height: auto;
} */
.details-container h2{
    text-align: center;
}
.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.article-container article{
    height: 150px;
    text-align: center;
}
@media (min-width: 768px) {
    #classes .about-containers {
        grid-template-columns: 1fr 1fr;
        
    }
}

/* -------------------------- */
#Trainers{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}
#Trainers p,#Trainers h1{
    text-align: center;
}
#Trainers .about-containers{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
#Trainers .details-container{
    margin: auto;
    width: 80%;
}
#Trainers .article-container img{
    width: 200px;
    border-radius: 20px;
}
#Trainers .details-container .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    #Trainers .about-containers {
        grid-template-columns: 1fr 1fr 1fr;  
    }
}

/* ------------------------------------ */
#contact{
    margin-top: 10px;
    margin-bottom: 40px;
}
#contact p,#contact h1{
    text-align: center;
}

#contact .contact-form{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
#contact .contact-form input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
}
#contact .contact-form textarea{
    width: 60%;
    height: 90px;
    border-radius: 10px;
    border: 0px;
}
#contact .contact-form #submitBtn{
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
}
#contact .contact-form #submitBtn:hover{
    background-color: green;
    color: white;
}
#contact p{
    margin:0;
}
#contact p span{
    display: inline-block; /* Ensure the span behaves like a block element */
    width: 60%; /* Same width as the input fields */
    text-align: left;
    color: red;
    padding-left: 5px; /* Add some padding for better spacing */
    margin-top: 5px;
}

#contact p #er3{
    color: black;
    /* display: block; */
}

footer nav{
    width: 100%;
}

footer nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer nav ul li {
    list-style-type: none;
}
footer nav ul li a:hover{
    background-color: green;
    color: white;
    border-radius: 20px;
    
}

footer nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

footer p{
    text-align: center;
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 0px;
}
